{%  load static %}
<!doctype html>
<html lang="en">
<head>
    <link rel="icon" href="{% static 'image/favicon/white/favicon.ico' %}" type="image/x-icon" sizes="16x16">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <!-- main CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    
    <!--<link rel="apple-touch-icon" href="/media/favicon/white/favicon.png"/> -->
    <title>SWING</title>
</head>
<body style="background-color:rgb(0, 0, 0)">
    <!-- 네비게이션바 -->
    {% include "navbar.html" %}
    <!-- 기본 템플릿 안에 삽입될 내용 Start -->
    {% block content %}
    {% endblock %}
    <!-- 기본 템플릿 안에 삽입될 내용 End -->
    <!-- Bootstrap JS -->
    <script src="{% static 'bootstrap.min.js' %}"></script>
    <!-- 자바스크립트 Start -->
    {% block script %}
    {% endblock %}
    <!-- 자바스크립트 End -->
</body>
</html>